In [15]:
import pandas as pd
import numpy as np

In [16]:
from IPython.core.display import HTML
css = open('../style-table.css').read() + open('../style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [17]:
bugs = pd.read_csv('../data/2019-08-27-bpo.csv', ',')

In [18]:
bugs.head()

,title,id,stage,creation,creator,activity,actor,nosy,type,components,versions,dependencies,assignee,keywords,priority,status,resolution,nosy_count,message_count
0,ftplib Persistent data connection,2628,2,2008-04-13.23:50:10,6840,2010-08-07.16:33:11,155,"['252', '3080', '6840']",6,['9'],['16'],[],None,['2'],4,1,None,3.0,7.0
1,Improved doctest REPORT_*DIFFs with ELLIPSIS a...,9640,None,2010-08-19.11:04:09,10930,2010-08-19.11:06:03,10930,['10930'],6,['9'],['14'],[],None,['2'],4,1,None,1.0,2.0
2,Explain the default timeout in http-client-rel...,8595,None,2010-05-02.02:54:42,12311,2010-08-19.13:16:45,2799,"['1741', '2040', '2799', '12260', '12311', '12...",5,"['4', '9']","['1', '13', '14']",[],12260,[],4,1,None,6.0,7.0
3,Encodings and aliases do not match runtime,1249749,None,2005-08-01.18:23:30,2094,2010-08-21.18:46:24,12545,"['4', '8', '93', '2094', '12260']",6,['4'],['16'],[],12260,[],5,1,None,5.0,11.0
4,distutils extension library path bug on cygwin,1289136,3,2005-09-12.22:04:55,2347,2010-08-21.19:27:33,12545,"['35', '71', '2347', '4555']",5,['3'],"['13', '14', '16']",[],4555,[],4,1,None,4.0,6.0

In [19]:
bugs.tail()

,title,id,stage,creation,creator,activity,actor,nosy,type,components,versions,dependencies,assignee,keywords,priority,status,resolution,nosy_count,message_count
7036,shutil.which wrong result on Windows,24505,None,2015-06-24.22:09:39,17566,2019-08-27.20:43:10,15487,"['301', '2377', '3951', '9663', '15467', '1548...",5,"['9', '15']",['20'],[],None,['2'],4,1,None,11.0,19.0
7037,shutil.which doesn't find files without PATHEX...,31405,None,2017-09-09.18:12:09,19707,2019-08-27.20:45:37,15487,"['301', '3951', '15467', '15487', '15623', '16...",5,"['9', '15']",['22'],[],None,[],4,1,None,9.0,8.0
7038,"shutil.make_archive (xxx, tar, root_dir) is ad...",35964,4,2019-02-11.12:40:46,30518,2019-08-27.20:46:19,15487,"['14', '1488', '1669', '4555', '13902', '15487...",None,['9'],"['14', '20', '21']",[],None,['2'],4,1,None,10.0,2.0
7039,CCompiler has_function displays warning,37965,None,2019-08-27.20:47:14,32216,2019-08-27.20:47:14,32216,"['7641', '17248', '32216']",5,['3'],"['19', '20', '21', '22', '23']",[],None,['2'],4,1,None,3.0,1.0
7040,Disallow fork in a subinterpreter broke subpro...,37951,4,2019-08-26.08:42:32,3108,2019-08-27.21:37:28,27838,"['252', '2377', '3108', '12704', '14000']",5,"['5', '8']","['22', '23']",[],14000,"['2', '21']",1,1,None,5.0,7.0

In [20]:
bugs.count()

title            7041
id               7041
stage            7041
creation         7041
creator          7041
activity         7041
actor            7041
nosy             7041
type             7041
components       7041
versions         7041
dependencies     7041
assignee         7041
keywords         7041
priority         7041
status           7041
resolution       7041
nosy_count       7041
message_count    7041
dtype: int64

In [21]:
bugs.shape

(7041, 19)

In [22]:
bugs.describe()

                 id       creator         actor  status   nosy_count
count  7.041000e+03   7041.000000   7041.000000  7041.0  7041.000000
mean   6.010933e+04  15275.218719  14217.386735     1.0     4.834114
std    2.165050e+05   9852.099457   9889.237095     0.0     3.178547
min    1.034000e+03      3.000000      1.000000     1.0     1.000000
25%    1.845400e+04   5494.000000   4455.000000     1.0     3.000000
50%    2.688200e+04  15623.000000  14674.000000     1.0     4.000000
75%    3.364700e+04  23834.000000  22884.000000     1.0     6.000000
max    1.778410e+06  32216.000000  32216.000000     1.0    45.000000

In [23]:
bugs.creation.min()

'2001-06-14.08:30:56'

In [24]:
bugs.creation.max()

'2019-08-27.20:47:14'

In [25]:
type(bugs.message_count)

pandas.core.series.Series

In [26]:
bugs.activity.describe()

count                    7041
unique                   7038
top       2019-05-31.08:30:40
freq                        2
Name: activity, dtype: object

In [13]:
bugs.activity.min()

'2010-08-07.16:33:11'

In [14]:
bugs.activity.max()

'2019-08-27.21:37:28'